/* articles and base.html */
a {
  text-decoration: none;
  color: #fff;
}
span.brand-title > span {
  font-family: sans-serif, helvetica;
  font-size: 5em;
  font-weight: bold;
  padding: 1rem;
}
span.brand-title span.multi {
  color: rgb(4, 19, 33);
  background-color: rgb(255, 238, 0);
}
span.brand-title span.threaded {
  color: rgb(255, 238, 0);
  background-color: rgb(4, 19, 33);
}
nav {
  padding-left: 5px;
}
body {
  margin: 0;
  background-color: rgb(4, 19, 33);
  margin-top: 15em;
}
header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-left: 10px solid rgb(255, 238, 0);
  background-color: rgb(4, 19, 33);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 150px;
}
article {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 30px;
  color: #fff;
  font-family: sans-serif, helvetica;
  font-size: 4em;
  background-color: rgb(4, 19, 33);
}
figcaption {
  font-size: 10px;
}
footer {
  color: #fff;
  font-size: 3em;
  font-family: sans-serif, helvetica;
  text-align: center;
  margin-top: 100%;
  padding: 16px;
}
h1 {
  font-size: 2em;
  margin-bottom: 0;
}
h6 {
  color: rgb(255, 238, 0);
  margin-top: 0;
}
a.home-top, a.home-bottom {
  color: #fff;
  font-size: 4em;
  font-family: sans-serif, helvetica;
  padding: 30px;
}
a.home-bottom {
  float: right;
}
/* homeN.html pages */
div.articles {
  word-wrap: break-word;
}
div.articles > a > div.article {
  margin: 200px auto 0 auto;
  width: 85%;
  padding: 10px;
  background-size: cover;
  border-left: 5px solid rgb(255, 238, 0);
}
div.articles > a > div.article > h2.article-title {
  color: #fff;
  font-family: sans-serif, helvetica;
  font-size: 6em;
  text-align: center;
  font-weight: lighter;
  background-color: rgba(4, 19, 33, .9);
}
div.index-bar {
  display: flex;
  margin: 200px auto 0 auto;
  width: 90%;
}
div.index-bar > a {
  flex-basis: 10%;
  font-family: sans-serif, helvetica;
  font-size: 5em;
  background-color: rgb(255, 238, 0);
  text-align: center;
  color: rgb(4, 19, 33);
}
