a {
  text-decoration: none;
}
span.brand-title > span {
  font-family: sans-serif, helvetica;
  font-size: 8em;
  font-weight: bold;
  padding: 1rem;
}
span.brand-title span.multi {
  color: rgb(0, 96, 181);
  background-color: rgb(255, 238, 0);
}
span.brand-title span.threaded {
  color: rgb(255, 238, 0);
  background-color: rgb(0, 96, 181);
}
nav {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 250px;
}
body {
  margin: 0;
  background-color: rgb(4, 19, 33);
  margin-top: 25em;
}
header {
  background-color: rgb(255, 238, 0);
  position: fixed;
  top: 0;
  right: 0;
  left: 0; 
}
article {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 30px;
  color: #fff;
  font-family: sans-serif, helvetica;
  font-size: 4em;
  background-color: rgb(4, 19, 33);
}
footer {
  color: #fff;
  font-size: 3em;
  font-family: sans-serif, helvetica;
  text-align: center;
  margin-top: 200px;
  padding: 16px;
}
h1 {
  font-size: 2em;
  margin-bottom: 0;
}
h6 {
  color: rgb(255, 238, 0);
  margin-top: 0;
}
a.home-top, a.home-bottom {
  color: #fff;
  font-size: 5em;
  font-family: sans-serif, helvetica;
  padding: 30px;
}
a.home-bottom {
  float: right;
}
