<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="{% block description %}{% endblock %}">
    <link rel="stylesheet" href="{{ url_for('static', filename='uniform/css/base.css') }}">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="{{ url_for('home', num=1) }}">
          <span class="brand-title"><span class="multi">Multi</span><span class="threaded">Threaded</span></span>
        </a>
      </nav>
    </header>
    <main>
      {% if not '/home' in request_url %}
      <a href="{{ url_for('home', num=1) }}" class="home-top">HOME &lt&lt&lt&lt</a>
      {% endif %}
      {% block content %}{% endblock %}
      {% if 'home' in request_url %}
      <div class="index-bar">
        <a href="{{ url_for('home', num=1) }}">1</a>
      </div>
      {% endif %}
      {% if not '/home' in request_url %}
      <a href="{{ url_for('home', num=1) }}" class="home-bottom">&gt&gt&gt&gt HOME</a>
      {% endif %}
    </main>
    <footer>
      2022 - {{ current_year }}
      <address>
        For business inquiries: kelkholium@gmail.com
      </address>
    </footer>
  </body>
</html>
